#image-div{
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#self-image{
    border-radius: 50%;
    /* border: 2px solid black; */
    vertical-align: middle;
    width: 300px;
    /* height: 300px; */
}

#name-div {
    align-items: center;
    text-align: center;
}

.ico-img{
    border-radius: 30%;
    width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}

body{
    background-color: white;
    color: black;
}

.dark-mode{
    background-color: black;
    color: white;

    th, td{
        border: 1px solid white;
        padding: 15px;
    }
    
    .mode:hover{
        box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
    }
}

#links-icos a{
    text-decoration: none;
}

.mode:hover{
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}

.mode{
    right: 2%;
    position: fixed;
    border-radius: 50px;
    height: 40px;
    background-color: white;
    border-color: black;
    color: black;
    
}

table{
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 15px;
}