#image-div{
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#self-image{
    border-radius: 50%;
    /* border: 2px solid black; */
    vertical-align: middle;
    width: 300px;
    /* height: 300px; */
}

#name-div {
    align-items: center;
    text-align: center;
}

.ico-img{
    border-radius: 30%;
    width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}

body{
    background-color: black;
    color: white;
}

.light-mode{
    background-color: white;
    color: black;
}

#links-icos a{
    text-decoration: none;
}

.mode:hover{
    box-shadow: 0 8px 16px 0 rgb(0, 255, 34);
}